<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
	> 
	
	<context:component-scan
		base-package="com.mycompany.app">
	</context:component-scan>
	
	
	<bean id="helloBean" class="com.mycompany.app.HelloWorld">
		<property name="name" value="Glybovets"></property>
	</bean>
	
	<bean id="duke" class="com.mycompany.app.Juggler">
		<constructor-arg value="15" />		
	</bean>
	
	<bean id ="shevchenko" class="com.mycompany.app.Shevchenko"/>
	<bean id="poeticDuke" class="com.mycompany.app.PoeticJuggler"></bean>
	
	<bean id = "theStage" class="com.mycompany.app.Stage" factory-method="getInstance"/>
	
	<bean id="auditorium"
		class="com.mycompany.app.Auditorium"
		/>
	
	<bean id = "saxophone" class="com.mycompany.app.Saxophone"/>
	<bean id = "piano" class="com.mycompany.app.Piano"/>
	
	
	<bean id="kenny" class="com.mycompany.app.Instrumentalist" >
		<property name="song" value="Jingle Bells" />
	</bean>
	
	<bean id="sxman" class="com.mycompany.app.Saxophonist"/>
	
	<bean id="poeticDuke2" class="com.mycompany.app.PoeticJuggler">
		<constructor-arg value = "15"/>
	</bean>
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	
	<bean id = "hank" class="com.mycompany.app.OneManBand">
	<property name="instruments">
	<list>
	<ref bean="saxophone"/>
	<ref bean="piano"/>
	</list>
	</property>
</bean>


<bean id="driver" class="com.mycompany.app.Driver"/>	
<bean id="car" class="com.mycompany.app.Car"/>	

<bean id="magician" class="com.mycompany.app.Magician"/>	
<bean id="volunteer" class="com.mycompany.app.Volunteer">
	
</bean>

<aop:aspectj-autoproxy />
<aop:config>
	<aop:aspect ref="magician">
		<aop:pointcut 
		expression="execution(* com.mycompany.app.Thinker.thinkOfSomething( String)) 
		and args(thoughts)" 
		id="thinking"/>
		
		<aop:before 
		method="interceptThoughts"
		pointcut-ref="thinking"
		arg-names="thoughts"/>	
	</aop:aspect>
</aop:config>

	
</beans>
